*.swp
*.swo
*.rbo
*.gem
.DS_Store
.rbenv-version
tmp
spec/fixtures/vcr
.yardoc
.rbx/
coverage/
.coveralls.yml
.idea/
documentation/
.bundle/

# trunk source
spec/fixtures/spec-repos/trunk/**/*.etag
spec/fixtures/spec-repos/trunk/*.yml
