---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/CocoaPods/Specs/contents/Specs?ref=yaml_podspecs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1385951957'
      Last-Modified:
      - Mon, 02 Dec 2013 02:17:23 GMT
      Etag:
      - '"4b543e65455c94f8ece080679c5f7ecf"'
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: '[{"name":"500px-iOS-api","path":"Specs/500px-iOS-api","sha":"03ada49080116874563ea894dcedcd39699eed68","size":0,"url":"https://api.github.com/repos/CocoaPods/Specs/contents/Specs/500px-iOS-api?ref=yaml_podspecs","html_url":"https://github.com/CocoaPods/Specs/tree/yaml_podspecs/Specs/500px-iOS-api","git_url":"https://api.github.com/repos/CocoaPods/Specs/git/trees/03ada49080116874563ea894dcedcd39699eed68","type":"dir","_links":{"self":"https://api.github.com/repos/CocoaPods/Specs/contents/Specs/500px-iOS-api?ref=yaml_podspecs","git":"https://api.github.com/repos/CocoaPods/Specs/git/trees/03ada49080116874563ea894dcedcd39699eed68","html":"https://github.com/CocoaPods/Specs/tree/yaml_podspecs/Specs/500px-iOS-api"}},{"name":"A2DynamicDelegate","path":"Specs/A2DynamicDelegate","sha":"8ab91fdfd65c5865cb51bea25919437cb6aa7f25","size":0,"url":"https://api.github.com/repos/CocoaPods/Specs/contents/Specs/A2DynamicDelegate?ref=yaml_podspecs","html_url":"https://github.com/CocoaPods/Specs/tree/yaml_podspecs/Specs/A2DynamicDelegate","git_url":"https://api.github.com/repos/CocoaPods/Specs/git/trees/8ab91fdfd65c5865cb51bea25919437cb6aa7f25",[...]
