
/* PAGE **********************************************************************/

/* Bootstrap has a 940px container and cocoapods.org is 1024px. The container
 * is enlarged and padding is added to compensate in the sub-containers so the
 * available space to rows is 940px. */

html,
body {
   padding:0;
   height:100%;
}

body {
  color: #8C7A73;
  background-color:rgb(64, 22, 0);
}

.container {
  min-height: 100%;
  width: 1024px;
  position: relative;
  background-color:rgb(255, 255, 255);
}

#body {
   padding-bottom:60px;   /* > Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:940px;
   height:80px;   /* Height of the footer */

  font-size: 12px;
}

#sections-container {
  padding: 0 42px;
  background-color: #fcf3e5;
  border-bottom: 1px solid hsl(25, 31%, 70%);
}

#methods-container {
  margin: 0;
  padding:20px 42px;
  /* match cocoapods.org */
  background-color:rgb(253, 250, 242);
  border-top: 1px solid #F0E7DD;
  border-bottom: 1px solid #F0E7DD;
}

#content-container {
  border-top: 1px solid #F7F7F7;
  margin: 0;
  padding:40px 42px;
  /* match cocoapods.org */
  background-color:rgb(255, 255, 255);
}

/* SECTIONS ******************************************************************/

#sections-container ul {
  /* Align with the first column of the methods. */
  margin: 0 38px;
}

#sections-container li {
  padding: 0 10px;
  display: inline-block;
  margin-right: 12px;
}

#sections-container h3 {
  margin: 0;
}

#sections-container a {
  text-decoration: none;
  color: #8C7A73;
}

#current_section {
  background-color: #E6A33C;
  /* Experimental */
  background-image: -webkit-linear-gradient(top, #FAA420, #FFB749);
  background-image: -webkit-linear-gradient(top, #E9B16A, #DDA358);
}


#current_section a {
  color: #FDFAF2;
  /* Experimental */
  color: white;
}

/* METHODS LIST **************************************************************/

#methods_list a {
  line-height: 22px;
  font-size: 12px;
  margin: 0px;
  color: hsl(16, 10%, 50%);
  text-decoration: none;
  font-weight: normal;
}

#methods_list p,
#methods_list h2 {
  margin: 0px 24px 0px 44px;
  padding: 0 6px;
}

#methods_list h2 {
  margin-top: 18px;
  padding-bottom:0px;
  line-height: 20px;
  font-size: 14px;
}

#methods_list h2 a {
  color:#CAAF9B;
  font-weight: bold;
}


#methods_list .active {
  background-color: #E6A33C;
  /* Experimental */
  /* background-image: -webkit-linear-gradient(top, #FAA420, #FFB749); */
  background-image: -webkit-linear-gradient(top, #BEAA89, #CAB79B);
  border-radius: 2px;
}

#methods_list .active a {
  color: white;
}

#methods_list .active span.label.label-small {
  /* Experimental */
  /* background-image: none; */
  background-image: -webkit-linear-gradient(top, #BEAA89, #CAB79B);
  background-color: #E6A33C;
  line-height: 22px;
  margin: 0px 2px 0px -26px;
  border-radius: 2px;
  padding-right: 6px;
  color:white;
}

/* CONTENT *******************************************************************/

p.multi-platform {
  font-weight: bold;
}

a {
  color: #CA8A29;
  font-weight: bold;
}

a:hover, a:hover code {
  text-decoration: none;
  color: #A06D20;
}

a code {
  color: #CA8A29;
  font-weight: bold;
}


h2, h3 {
  color:#E6A33C;
}

h2 {
  padding-bottom:20px
}


h3 {
  margin:20px 0;
  font-size: 14px
}

h4 {
  font-size:12px;
  color: #CCC;
  margin: -10px 0px 4px;
}

.tab-content {
  font-weight: 300;
}

.method_keys code {
  background:none;
}

/* Labels ******************************/

span.label {
  background-color: #D3BCAC;
  color: #FDFAF2;
  text-shadow: 0 0px;
  font-weight: normal;

  /* Experimental */
  background-image: -webkit-linear-gradient(top, #BEAA89, #CAB79B);
  background-color: none;
}

span.label a {
  color: #FDFAF2;
  text-decoration: none;
}

span.label.label-small {
  float: left;
  border-radius: 2px;
  line-height: 16px;
  width: 16px;
  text-align: center;
  margin: 3px 2px 0px -26px;
  padding: 0;
  font-size: 10px;
}


span.label.label-big {
  color: white;
  /* background-color: #8C7A73; */
  float: right;
  font-size: 14px;
  line-height: 18px;
  margin: 6px 12px 0px 0px;
  padding: 8px 10px;
}

/* Syntax Highlighting *****************/

pre {
  margin:20px 0;
  background-color: #424242;
  background-color: #52433E;
  color: #DFCCAC;
}

.s1, .s2, .ss, .sh,
.nf, .no, .kp
{
  color:#E6A33C;
}

.k, .o, .si {
  color: #FDFAF2;
}

code {
  color: #8C7A73;
  background-color: #fdfaf2;
}
